body {
    background-color: #f8a745;
    margin-bottom: 1em;
}

.alto {
    height: 100vh;
}


/* Extra */


/*.cabeza {
    height: 20vh;
    background-color: #E4941C;
}
*/

.cabeza h1 {
    color: #ffffff;
    text-align: right;
    padding: 1px;
    background-color: #ffe4c4;
    font-style: italic;
}

.extremos {
    height: 300px;
    text-align: center;
    background-color: #ff9c4a;
    margin: 0 2em 0 2em;
}

.nadvar {
    margin: 0 2em 0 2em;
}


/*
.footer {
    height: 20vh;
    background-color: #EA6827;
} */


/* Titulo */

.titulo {
    background-color: #ffffff;
    margin-left: 5em;
    margin-right: 5em;
    height: 15vh;
    text-align: center;
    font-family: 'Lobster', cursive;
}


/* Cuerpo */

.cuerpo {
    background-color: #ffffff;
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
}

.adopcion {
    height: 40vh;
}

a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: #e69b2b;
}