body {
    background-color: #f8a745;
    margin: 0 2em 1em 2em;
}

.medida {
    height: 500px;
    text-align: center;
    background-color: #ffffff;
}

.medidainfo {
    height: 500px;
    text-align: center;
    background-color: #ffe4c4;
}

.extremos {
    height: 300px;
    text-align: center;
    background-color: #ff9c4a;
}

.contenedor {
    background-color: #ffe4c4;
    padding: 0 2em 0 2em;
}


/*Cabeza*/

.cabeza h1 {
    color: #ffffff;
    text-align: right;
    padding: 1px;
    background-color: #ffe4c4;
    font-style: italic;
}


/*Contacto*/

.contacto {
    height: 100vh;
}