* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    text-decoration: none;
    color: #ffffff;
}

#menu {
    width: 200px;
    height: 800px;
    float: left;
    background-color: #fa8072;
    margin: 0%;
    padding: 0%;
}

#contenedor {
    width: 700px;
    height: 800px;
    float: right;
    background-color: #ee82ee;
}

#contenido1 {
    background-color: #00ffff;
}

#contenido2 {
    background-color: #ffff00;
}

#contenido3 {
    background-color: #ffa500;
}

#contenido4 {
    background-color: #ff0000;
}