header {
    margin-top: 5%;
    text-align: justify;
}

header p {
    float: right;
}

h1 {
    text-align: center;
}

body {
    width: 70%;
    margin: 0 auto 0 auto;
}

ul {
    margin-left: 5%;
}

footer img {
    float: left;
    margin-right: 20%;
}

footer p {
    margin-top: 12%;
}

section img {
    float: left;
    margin-right: 20%;
}