* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
}

h2 {
    color: #ffffff;
    font-family: sans-serif;
}

.cambioColor {
    color: #ffffff;
}

.cambioColor:hover {
    color: #acacac;
}

p {
    color: #ffffff;
    font-family: sans-serif;
}

#contenedor {
    width: 1060px;
    height: 800px;
    background-color: #333333;
}

#menu {
    width: 10%;
    height: 20%;
    float: left;
    background-color: #333333;
    margin-top: 2em;
}

#contenido1 {
    width: 90%;
    height: 25%;
    float: right;
    background-color: #00ffff;
}

#contenido2 {
    width: 90%;
    height: 25%;
    float: right;
    background-color: #ffff00;
}

#contenido3 {
    width: 90%;
    height: 25%;
    float: right;
    background-color: #ffa500;
}

#contenido4 {
    width: 90%;
    height: 25%;
    float: right;
    background-color: #ff0000;
}